body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* border: 1px solid red; */
  header,
  main,
  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* border: 1px solid green; */
  }
  & > * > .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* border: 1px solid var(--clr-neutral-000); */
  }
}

header {
  padding-block: 2rem;
}

main {
  flex-grow: 1;
}

footer {
  padding-block: 2rem;
}

dialog {
  &[open] {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .form__number-input,
    .form__select {
      display: flex;
      flex-direction: column;
    }
  }
  .game-modal__buttons {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.25rem;
    button {
      width: 100%;
    }
  }
}

@media (max-width: 700px) {
  dialog {
    width: 100%;
    form {
      width: 100%;
    }
  }
}
