:root {
  /* COLORS */
  --clr-neutral-000: #ffffff;
  --clr-neutral-300: #b9b9b9;
  --clr-neutral-500: #6c757d;
  --clr-neutral-700: #2b2b2b;
  --clr-neutral-800: #1e1e1e;

  --clr-primary: #007bff;
  --clr-correct: #1db16c;
  --clr-incorrect: #dc3545;

  /* FONT FAMILIES */
  --ff-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* FONT SIZES */
  --fs-xlarge: 2rem;
  --fs-large: 1.5rem;
  --fs-medium: 1.25rem;
  --fs-normal: 1rem;
  --fs-small: 0.875rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-neutral-800);
  color: var(--clr-neutral-000);
  font-family: var(--ff-sans);
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  & > * {
    /* width: 100%; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* padding-inline: 2rem; */
  }
}
/* 
header {
  padding-block: 2rem;
}

main {
  flex-grow: 1;
}

footer {
  padding-block: 2rem;
  text-align: center;
}

.logo {
  font-size: var(--fs-xlarge);
} */

.wrapper {
  --padding-inline: 2rem;
  max-width: min(100% - var(--padding-inline) * 2, 1000px);
}

button {
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: var(--fs-normal);
  padding: 0.75rem 1rem;
  border: 1px solid var(--clr-neutral-000);
  background: var(--clr-neutral-800);
  color: var(--clr-neutral-000);
  &[disabled] {
    opacity: 0.5;
  }
  &:not([disabled]):hover {
    background-color: var(--clr-neutral-700);
  }
}

img {
  max-width: 100%;
  display: flex;
}

label {
  margin-left: 0.5rem;
  margin-bottom: calc(var(--fs-small) / -2);
  z-index: 2;
  background-color: var(--clr-neutral-000);
  width: max-content;
  padding-inline: 0.25rem;
}

input,
select {
  font-size: var(--fs-normal);
  border-radius: 0.5rem;
  border: 1px solid var(--clr-neutral-300);
  /* padding: 0.5rem; */
  padding: 0.75rem;
  &:user-invalid {
    background-color: red;
  }
}

select {
  padding: 0.75rem 0.5rem;
}

label {
  font-size: var(--fs-small);
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 2rem;
  border-radius: 1rem;
  border: none;
}

a {
  color: var(--clr-primary);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/* MEDIA QUERIES ------------------------------------------------------ */

@media (max-width: 700px) {
  body {
    & > * {
      /* padding-inline: 1rem; */
    }
  }
}
